<p id='title-validation-error'>{{titleValidation}}</p>
<form action="/videos" method="POST">
    <input type="text" name="title" id="title-input" placeholder="Title">
    <input type="text" name="description" id="description-input" placeholder="Description">
    <P><button id="submit-video">Save a video</button></P>
</form>