{{#unless video.title}}
    <p id='title-validation-error'>Title is required</p>
{{/unless}}
{{video.description}}
<form action="/videos" method="POST">
    <input value="{{video.title}}" type="text" name="title" id="title-input" placeholder="Title">
    <input id="url-input" name="url" value="{{video.videoUrl}}" type="text">
    <textarea type="text" name="description" id="description-input" placeholder="Description">{{video.description}}</textarea>
    <P><button id="submit-video">Save a video</button></P>
</form>