
<div id="videos-container">
    {{#each videos as |video|}}
        <div class="video-card">
            <div class="video-title">
                {{video.title}}
            </div>
            <div class="video-clip">
                <iframe 
                    class="video-player"
                    src="http://example.com"
                    frameborder="0"
                    allowfullscreen>
                    https://youtu.be/oLEjOcMYWCY
                </iframe>
            </div>
        </div>
    {{/each}}
</div>

<a href="/videos/create">Create a video</a>