
<div id="videos-container">
    {{#each videos as |video|}}
        <div class="video-card">
            <div class="video-title">
                <a href="/videos/{{video.id}}">
                    {{video.title}}
                </a>
            </div>
            <div class="video-clip">
                <iframe
                    class="video-player"
                    src="{{video.videoUrl}}"
                    frameborder="0"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    {{/each}}
</div>

<a href="/videos/create">Create a video</a>